@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-base bg-gothamBlack-900 font-satoshi text-gothamBlack-300;
    }

    h1 {
        @apply text-6xl font-bold text-textWhite-300;
        margin-bottom: 8px;
    }

    h2 {
        @apply text-3xl text-gothamBlack-300 font-bold;
    }

    h3 {
        @apply text-2xl text-gothamBlack-50 font-satoshi font-bold my-4;
    }
}

// Here's an example of how to mix and match native scss and tailwind classes to create a reusable component library.
@layer components {
    code {
        @apply text-gothamBlack-50 bg-gothamBlack-700 rounded p-2;
    }

    .row {
        @apply my-8;
    }

    .btn-primary {
        @apply flex px-4 py-2 font-bold text-white rounded cursor-pointer bg-oceanBlue-600 w-fit;
        &:hover {
            background-color: theme("colors.oceanBlue.700");
        }
        transition: all 0.2s ease-in-out;
    }

    .btn-outline {
        @apply flex px-4 py-2 rounded cursor-pointer bg-transparent border-2 border-gothamBlack-600 w-fit;
        &:hover {
            background-color: theme("colors.gothamBlack.800");
        }
        transition: all 0.2s ease-in-out;
    }
}

@layer utilities {
    .filter-none {
        filter: none;
    }

    .filter-grayscale {
        filter: grayscale(100%);
    }
}
